{% extends 'base.html' %}

{% block content %}

<div class="profile-container">
    <div class="profile-header">
        <div class="profile-base">
            <img src="{{ user[5] }}" alt="Profile Picture">
            <h1>{{ user[1] }}</h1>
            <p>Discord: {{ user[2] }}</p>
        </div>
        <div class="bio">
            <h2>Bio</h2>
            <p>{{ user[4] }}</p>
        </div>
    </div>
    <div class="profile-prompts">
        <h2>Prompts</h2>
        <div class="prompts-list">
            {% for prompt in prompts %}
                <section class="prompt-item">
                    <h2><a href="{{ url_for('prompt_page', prompt_id=prompt[0]) }}">{{ prompt[2] }}</a></h2>
                    <textarea readonly>{{ prompt[3] }}</textarea>
                    <div class="prompt-footers">
                        <span>👍 {{ prompt[4] - prompt[5] }}</span>
                        <span>👁️ {{ prompt[6] }}</span>
                    </div>
                </section>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}