{% extends 'base.html' %}

{% block content %}

<div class="settings-container">
    <div class="settings-header">
        <h1>Settings</h1>
    </div>
    <div class="settings-form">
        <form action="{{ url_for('edit_profile') }}" method="POST" enctype="multipart/form-data">
            <div>
                <p>Your Bio:</p>
                <textarea name="bio" maxlength="500">{{ user.bio }}</textarea>
            </div>
            <div>
                <p>Avatar URL</p>
                <input type="text" name="avatar_url" value="{{ user.avatar_url }}" />
            </div>
            <button type="submit">Save</button>
        </form>
    </div>
</div>
    
{% endblock %} 